.button{
    background-color: #BA94D1;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 14px;
    height: 40px;
    width: 170px;

}
.button:hover{
    color: #9C1AFF !important;
    border-color:  #BA94D1 !important;

}

.buttonText {
    font-weight: bold;
    color: white;
}

.categoryParagraph{

}
.categoryButton{
    color: #9C1AFF;
    border: 1px solid  #BA94D1;
    borderRadius: 10px;
    width: 200px;
    height: 35px;
    paddingLeft: 5px

}
.categoryButton:hover{
    color: white !important;
    background-color: #BA94D1 !important;
    border-color:  #BA94D1 !important;

}


.AboutContact{

}
.menu {
    position: relative;
    width: 100%;
    height: 500px;
    background:rgb(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background:#fff;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0 ,0 ,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    transition: 1.25s;
    z-index:1000 ;

}

.menu.active .toggle{
    transform: rotate(360deg);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15) ,
    0 0 0 2px #333, 0 0 0 8px #fff;

}
.menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transform: rotate(calc(360deg/8  * var(--i)));
    transform-origin:140px ;
    scale: 0;
    transition-delay: calc(0.05s*var(--i));

}
.menu.active li{
    scale: 1;

}

.menu li a{
    position: relative;
    display: flex;
    transform: rotate(calc(360deg/8  * var(--i)));
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.75em;
    color: var(--clr);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    transition: 0.15s;

}
.menu li:hover a {
    font-size: 2.5em;
    box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
}