.button{
    background-color: #BA94D1;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 14px;
    height: 40px;
    width: 170px;

}
.button:hover{
    color: #9C1AFF !important;
    border-color:  #BA94D1 !important;

}

.buttonText {
    font-weight: bold;
    color: white;
}

.categoryParagraph{

}
.categoryButton{
    color: #9C1AFF;
    border: 1px solid  #BA94D1;
    borderRadius: 10px;
    width: 200px;
    height: 35px;
    paddingLeft: 5px

}
.categoryButton:hover{
    color: white !important;
    background-color: #BA94D1 !important;
    border-color:  #BA94D1 !important;

}
