.searchText{
    width: 100%;
    font-family: Nunito;
    background-color: transparent;
    overflow: hidden;
}

.categoryButton{
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    background: transparent;
    border:none;
    margin-bottom: 10px;
}
.categoryText {
    width: 40%;
    font-family: Nunito;
    background-color: transparent;
    overflow: hidden;
}

.searchBox {
    box-shadow: 1px 1px 16px 3px rgba(90, 90, 90, 0.09)
}
