@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Hammersmith+One&family=Kdam+Thmor+Pro&family=Noto+Sans+Chakma&family=Source+Sans+Pro:ital,wght@1,600;1,900&family=Yellowtail&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family:'Diplomata SC', cursive,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /*color: white;*/
  /*background: rgb(57,62,70);*/
  /*background: linear-gradient(120deg, rgba(57,62,70,1) 12%, rgba(48,71,94,1) 100%);*/
}

a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;

  }
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}



.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  /*color: #2b2eff;*/
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #FFFFFF;
  background-color: #FF5959;
}

.paginationActive a {
  color: #FFFFFF;
  background-color:#FF5959;
;
}


.Navbar{
  font-family: 'Diplomata SC', cursive;
  font-family: 'Hammersmith One', sans-serif;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-family: 'Noto Sans Chakma', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Yellowtail', cursive;
  /*color: black !important;*/
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  height: 100%;
  padding-left: 30px;
  /*margin-left: 40px;*/
  font-size: 30px;
  color: #FF5959;

}
.Navbar:hover{
  color: #FF5959 !important;
}