.container {
  padding: 0 2rem;

}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;

}
.home{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  height: 100%;

}
.pageNumberCol{
  margin-top: 50px;
  position: fixed;
  left: 0;
  z-index: 999;
  

}
.drawerCol{
  border-left: 2px solid #E1D7C6
}
@media(max-width:767px){
  .drawerCol{
    border-left: none;
  }
}


