.about{
 height: 450px;
}
.card{
 background-color: transparent;
 border-width: 0;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.image{
 width: 150px;
}
.title{
 display: flex;
 padding-left:80px;
 width: 400px
}
.titleText{
 color:white;
 font-weight: bold;
 font-size: 27px;
}
.titleTypeAnimation{
 height: 40px;
 display: flex;
 justify-content: center;
 font-weight: bold;
 font-size: 27px;
 color: #FED049;
}

.content{
 display: flex;
 justify-content: center;
 text-align: center;
 color: white;
 width: 400px;
}

.contact{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 50vh;
 height: 500px;
}
.menu {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}

.toggle {
 position: relative;
 width: 60px;
 height: 60px;
 border-radius: 50%;
 box-shadow: 0 3px 4px rgba(0, 0 ,0 ,0.15);
 display: flex;
 justify-content: center;
 align-items: center;
 color: #333;
 cursor: pointer;
 font-size: 2em;
 transition: 0.5s;
 z-index:1000 ;
 background-color: white;
}

.menuactive .toggle {
 transform: rotate(360deg);
 box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15),
 0 0 0 2px rgba(0, 0, 0, 0.1) , 0 0 0 8px #fff;
 z-index:1000 ;
}

.menu li {
 position: absolute;
 left: 0;
 list-style: none;
 transition: 0.5s;
 scale: 0;
 bottom: 0;
}

.menuactive li{
 position: absolute;
 list-style: none;
 transition:0.15s;
 transform-origin:140px ;
 margin-left: -110px;
 margin-top: -60px;
 scale: 1;

}

.menu li a{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 width: 60px;
 height: 60px;
 background: #fff;
 box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.menuactive li a{
 position: relative;
 width: 60px;
 height: 60px;
 background: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.menuactive li:hover a {
 box-shadow: 0 0 0 2px #71C08D, 0 0 0 6px #fff;
}
